name: Run E2E Tests

on: [pull_request]

jobs:
  run-e2e-tests:
    name: Run E2E Tests
    runs-on: ubuntu-latest

    services:
        postgres:
            image: bitnami/postgresql
            ports:
                - 5430:5432
            env:
                POSTGRES_USERNAME: docker
                POSTGRES_PASSWORD: docker
                POSTGRES_DATABASE: sportzone_pg

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - run: npm ci

      - run: npm run test:e2e

        env:
            JWT_SECRET: 'testing'
            DATABASE_URL: 'postgresql://docker:docker@localhost:5430/sportzone_pg?schema=public'
            LOCATIONIQ_API_KEY: ${{ secrets.LOCATIONIQ_API_KEY }}
            STRIPE_SECRET_API_KEY: ''
            STRIPE_WEBHOOK_SECRET: ''
            FRONT_END_URL: ''